<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
    <h2>add a new user</h2>

    <form action="/update" method="post">
        //表单里的输入项一定要与name属性，那么属性的值必须与数据库里面的fieldname一致。
        <p>username: <input type="text" name="username" value="{{list.username}}"></p>
        <p>age: <input type="text" name="age" value="{{list.age}}"></p>
        <p>sex: <input type="text" name="sex" value="{{list.sex}}"></p>
        <input type="hidden" name="_id" value="{{@list._id}}">
        <button type="submit">submit</button>
        
    </form>
</body>
</html>