<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/basic.css"/>
</head>
<body>
    <h2 class="title">这是一个h2</h2>

    <ul>
        <%for(var i=0;i<list.length;i++){%>
             <li><%=list[i].username%></li>
        <%}%>
    </ul>
</body>
</html>